.root {
	-fx-background-color: black;
	-fx-font-family: monospace;
	-fx-hgap: 5.0px;
	-fx-vgap: 5.0px;
	-fx-padding: 5.0px 5.0px 5.0px 5.0px;
}

#screenText {
	-fx-text-fill: #bbbbbb;
	-fx-background-color: transparent;
	-fx-text-alignment: right;
	-fx-font-size: 25.0pt;
	-fx-padding: 10.0px 10.0px 10.0px 10.0px;
	-fx-font-weight: bold;
	-fx-background-insets: 0.0px;
}

.button {
	-fx-font-size: 16.0pt;
	-fx-background-radius: 5.0em;
	-fx-background-insets: 0.0px;
	-fx-border-radius: 5.0em;
}

.button:focused {
	-fx-border-color: white;
}

.button:armed {
	-fx-border-color: yellow;
}

.numero {
	-fx-text-fill: white;
	-fx-background-color: gray;
}

.numero:hover {
	-fx-text-fill: gray;
	-fx-background-color: white;
}

.numero:pressed {
	-fx-text-fill: #bbbbbb;
	-fx-background-color: black;
}

.reinicio {
	-fx-text-fill: black;
	-fx-background-color: #bbbbbb;
}

.reinicio:hover {
	-fx-background-color: white;
}

.reinicio:pressed {
	-fx-text-fill: #bbbbbb;
	-fx-background-color: black;
}

.operador {
	-fx-text-fill: white;
	-fx-background-color: orange;
}

.operador:hover {
	-fx-background-color: #b85f00;
}

.operador:hover:default {
	-fx-background-color: red;
}

.operador:pressed {
	-fx-text-fill: orange;
	-fx-background-color: white;
}

#resultadoButton:default {
	-fx-background-color: orangered;
}